<ion-header box-shadow>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>Mystic - Your Magic Resource</ion-title>
	</ion-toolbar>
	<ion-toolbar>
		<ion-segment [(ngModel)]="selectedItem">
			<ion-segment-button text-capitalize>
				Content
			</ion-segment-button>
			<ion-segment-button text-capitalize>
				Tools
			</ion-segment-button>
			<ion-segment-button text-capitalize>
				Tournaments
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="wrap-blog-post bg-light ">
		<div class="cover">
			<div class="slogan p dl-40 txt-light ">
				<p class="uppercase fs-14"></p>
				<!-- <h4 no-margin text-center class="fs-34 top beleren">
					MATCH PAIRINGS
				</h4> -->
			</div>
			<div class="bg-img">
				<img
					class="parallax-obj parallax-up-obj parallax-blur-obj"
					src="/assets/imgs/home4.JPG"
				/>
			</div>
		</div>
	</div>
	<div class=" pdl-50 pdr-50">
		<br />
		<h2 class="beleren">ADD PLAYERS</h2>
		<br />
		<ion-item lines="none" class="bg-white bdra-30 shadow-1 bg-light">
			<ion-input placeholder="Name" [(ngModel)]="name"></ion-input>
		</ion-item>
		<ion-item lines="none" class="bg-white bdra-30 shadow-1 mgt-10 bg-light">
			<ion-input
				placeholder="Phone Number"
				[(ngModel)]="phoneNumber"
			></ion-input>
		</ion-item>
		<div text-right class="mgt-45 ">
			<ion-button
				(click)="addPlayer()"
				expand="round"
				color="primary"
				size="small"
				class="txt-light mgt--40"
			>
				<ion-icon class="txt-light" name="ios-add"></ion-icon>
			</ion-button>
		</div>
		<h2 class="beleren">ROUNDS</h2>
		<ion-toolbar>
			<ion-segment mode="ios">
				<ion-segment-button
					*ngFor="let choice of rounds"
					(name)="(choice.val)"
					mode="ios"
					class="h-30"
					(ionSelect)="segmentButtonClicked($event)"
					value="{{ choice.val }}"
					checked="{{ choice.isChecked }}"
				>
					<ion-label class="open fs-14">{{ choice.val }}</ion-label>
				</ion-segment-button>
			</ion-segment>
		</ion-toolbar>
		<br />
		<h2 class="beleren">PLAYERS</h2>

		<ion-list>
			<ion-item-sliding *ngFor="let item of participants">
				<ion-item class="open">
					<ion-label class="ion-text-capitalize open">{{ item.id }}</ion-label>
					<ion-label class="open">{{ item.phoneNumber }}</ion-label>
				</ion-item>
				<ion-item-options side="end">
					<ion-item-option (click)="remove(item.id)">Remove</ion-item-option>
				</ion-item-options>
			</ion-item-sliding>
			<!-- 
			<ion-item-sliding *ngIf="swipeLeft == true">
				<ion-item class="open"
					><ion-label>Swipe left to remove</ion-label>
					<ion-icon name="ios-arrow-round-back" class="mgl-10"></ion-icon
				></ion-item>
				<ion-item-options side="end">
					<ion-item-option (click)="removeTutorial()">Remove</ion-item-option>
				</ion-item-options>
			</ion-item-sliding> -->

			<ion-item lines="none"
				><p>Remove all</p>
				<div text-right class="mgt-30 ">
					<ion-button
						expand="round"
						color="primary"
						size="small"
						(click)="removeAll()"
						class="txt-light mgt--40 mgl-100"
						><ion-icon name="close-circle"></ion-icon>
					</ion-button></div
			></ion-item>
		</ion-list>

		<!-- <p class="open fs-15">Remove all players</p> -->

		<div text-center class="fs-25 fw-900 mgt-15 mgb-30 spacing1">
			<ion-button
				expand="round"
				color="primary"
				size="medium"
				class="txt-light mgt--20 but "
				type="submit"
				(disabled)="isDisabled()"
				(click)="startEvent()"
				mode="ios"
			>
				<h2 class="beleren white">START AN EVENT</h2>
			</ion-button>
		</div>
	</div>
</ion-content>
