<ion-content fullscreen common-parallax [scrollEvents]="true" class="lightmode">
	<div class="wrap-blog-post bg-light offset-top-obj">
		<div class="cover">
			<div class="slogan p dl-40 txt-light ">
				<p class="uppercase fs-14"></p>
				<h4 no-margin text-center class="fs-34 top beleren">
					RESULTS
				</h4>
			</div>
			<div class="bg-img">
				<img class="" src="/assets/images/lemon6.png" />
			</div>
		</div>
	</div>
	<div class="main-form pdl-20 pdr-20">
		<br />

		<ion-list>
			<ion-item class="open" *ngFor="let person of results">
				<h5 class="open ion-text-capitalize fs-19">
					{{ person.index }} | {{ person.id }}
				</h5>

				<ion-col
					><ion-button
						float-right
						side="end"
						mode="ios"
						class="open fs-14"
						id="longMessage"
						expand="block"
						(click)="presentAlertLongMessage(person)"
						shape="round"
						fill="outline"
						>RECORD</ion-button
					></ion-col
				>
			</ion-item>
		</ion-list>

		<!-- Match pairings -->

		<div text-center class="fs-30 fw-900 mgt-20 mgb-20 spacing1">
			<ion-button
				expand="round"
				mode="ios"
				color="primary"
				size="medium"
				class="txt-light mgt--20 but"
				type="submit"
			>
				<h2 class="beleren white">SHARE STANDINGS</h2>
			</ion-button>
		</div>

		<div text-center class="fs-30 fw-900 mgt-20 mgb-20 spacing1">
			<ion-button
				expand="round"
				color="primary"
				mode="ios"
				size="medium"
				class="txt-light mgt--20 but"
				type="submit"
				(click)="back()"
			>
				<h2 class="beleren white">END EVENT</h2>
			</ion-button>
		</div>
	</div>
</ion-content>
