<ion-header box-shadow>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title class="beleren fs-20">MYSTIC</ion-title>
	</ion-toolbar>
	<ion-toolbar class="ion-segment-header">
		<ion-segment class="ion-segment-header">
			<ion-segment-button
				checked
				text-capitalize
				class="ion-segment-header"
				routerLink="/home"
				routerDirection="forward"
			>
				<ion-icon name="md-list-box"></ion-icon>
			</ion-segment-button>
			<ion-segment-button
				text-capitalize
				class="ion-segment-header"
				routerLink="/bookmark"
				routerDirection="forward"
			>
				<ion-icon name="ios-construct"></ion-icon>
			</ion-segment-button>
			<ion-segment-button
				text-capitalize
				class="ion-segment-header"
				routerLink="/events"
				routerDirection="back"
			>
				<ion-icon name="ios-trophy"></ion-icon>
			</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-header>
<!-- Content -->
<ion-fab class="filter" vertical="bottom" horizontal="end" edge id="fab1">
	<ion-fab-button
		mini
		class="e2eFabTopRight filter"
		routerLink="/contentFilters"
		routerDirection="forward"
	>
		<ion-icon name="md-funnel" color="secondary"></ion-icon>
	</ion-fab-button>
</ion-fab>

<ion-content>
	<ion-grid class="z-grid">
		<ion-row>
			<!-- <ion-col size="12">
				<h1 text-size-lg class="fs-20 beleren">LATEST IN MAGIC</h1>
			</ion-col> -->
			<ion-col size="12" *ngIf="dataNotLoaded">
				<div class="center">
					<ion-spinner name="dots" class="center"></ion-spinner>
				</div>
			</ion-col>
			<ion-col size="12">
				<!-- Slider For Featured News -->
				<ion-slides *ngIf="dataLoaded | async" #wizardSlider pager="true">
					<ion-slide
						background-size
						padding
						*ngFor="let item of getSelectedPosts(true)"
						[ngStyle]="{ 'background-image': 'url(' + item.image_url + ')' }"
						(click)="openPost(item)"
					>
						<!-- <ion-button fill="clear" bookMark (click)="bookmark(item, $event)">
							<ion-icon
								icon-small
								name="ios-bookmark"
								margin-left
								[ngClass]="{ active: item.bookmark }"
							></ion-icon>
						</ion-button> -->
						<span category class="logo">
							<!-- {{ item.site_name }} -->
							<ion-thumbnail class="bdr-5">
								<img
									[src]="getLogoURL(item)"
									alt=""
									class="logo-inner bdr-5"
								/>
							</ion-thumbnail>
						</span>

						<h2
							class="ion-text-start"
							wizard-title
							[innerHTML]="getHtmlTitle(item.title)"
						></h2>
						<div clearfix></div>
						<ion-chip>
							<ion-icon icon name="ios-stopwatch"></ion-icon>
							<ion-label text-size-p class="ion-margin-end">
								{{ getTimeString(item.date) }}
							</ion-label>
						</ion-chip>
					</ion-slide>
				</ion-slides>
			</ion-col>

			<!-- <ion-col size="12" no-padding>
				<h1 padding-start text-size-lg>
					{{ selectedCategory ? selectedCategory.name : "" }}
				</h1>
			</ion-col> -->

			<ion-col
				size="6"
				size-md="3"
				*ngFor="let item of getSelectedPosts(false)"
			>
				<ion-card
					no-margin
					box-shadow
					border-radius
					*ngIf="dataLoaded | async"
					(click)="openPost(item)"
				>
					<div card-image>
						<img border-radius class="h-125" [src]="getImageURL(item)" alt="" />
						<!-- <span border-radius category text-uppercase>{{
							item.site_name
						}}</span> -->
						<span category-small class="logo">
							<!-- {{ item.site_name }} -->
							<ion-thumbnail class="bdr-5">
								<img
									[src]="getLogoURL(item)"
									alt=""
									class="logo-inner bdr-5"
								/>
							</ion-thumbnail>
						</span>
					</div>
					<ion-card-content>
						<h4 text-wrap text-size-xs>{{ item.title }}</h4>
						<div itemTime class="ion-margin-top">
							<ion-chip>
								<ion-icon icon name="ios-stopwatch"></ion-icon>
								<ion-label text-size-p class="ion-margin-end">
									{{ getTimeString(item.date) }}
								</ion-label>
							</ion-chip>
						</div>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
		<ion-infinite-scroll-content
			loadingSpinner="bubbles"
			loadingText="Scanning the Multiverse..."
		>
		</ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>
