<!-- Page About -->
<ion-header box-shadow>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button defaultHref="/"></ion-menu-button>
      </ion-buttons>
      <ion-title text-uppercase>Deco News</ion-title>
    </ion-toolbar>
</ion-header>
<!-- Content -->
<ion-content>
  <ion-grid>
    <ion-row *ngIf="posts.length">
      <ion-col size="12">
        <h2 text-size-lg margin-bottom padding-start>Bookmark News</h2>
        <ion-button size="small" text-size-p fill="clear" (click)="clearAll()">Clear all</ion-button>
        <div clearfix></div>
        <div list-bokmark margin-bottom *ngFor="let item of posts">
          <news-item [data]="item" [data]="item" (onBookmark)="onBookmark($event)"></news-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!posts.length" class="ion-align-items-center">
      <ion-col>
        <div no-post text-center>
          <img src="../assets/imgs/decoLogo.png" alt="" />
          <h1 text-size-xl>Uups, no data!</h1>
          <p text-size-md>Add something to bookmarks by taping on bookmark icon</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
